<!doctype html>
<html lang="en">
<head>

  <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.0.0/dist/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <style>
        .context-dark, .bg-gray-dark, .bg-primary {
    color: rgba(255, 255, 255, 0.8);
}

.footer-classic a, .footer-classic a:focus, .footer-classic a:active {
    color: rgba(255, 255, 255, 0.8);
}
.nav-list li {
    padding-top: 5px;
    padding-bottom: 5px;
}

/* .nav-list li a:hover:before {
    margin-left: 0;
    opacity: 1;
    visibility: visible;
} */

ul, ol {
    list-style: none;
    padding: 0;
    margin: 0;
}

.social-inner {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    padding: 23px;
    font: 900 13px/1 "Lato", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif;
    text-transform: uppercase;
    color: rgba(255, 255, 255, 0.5);
}
.social-container .col {
    border: 1px solid rgba(255, 255, 255, 0.1);
}
/* .nav-list li a:before {
    content: "\f14f";
    font: 400 21px/1 "Material Design Icons";
    color: #4d6de6;
    display: inline-block;
    vertical-align: baseline;
    margin-left: -28px;
    margin-right: 7px;
    opacity: 0;
    visibility: hidden;
    transition: .22s ease;
} */
    </style>
</head>






<footer class="section footer-classic context-dark bg-image" style="background: #28a745;">
    <div class="container">
        <br>
      <div class="row row-30">
        <div class="col-md-4 col-xl-5">
          <div class="pr-xl-4"><a class="brand" href="index.html"></a>
            <p>Rotaract 3181 is an ensemble of dynamic young minds determined to make a positive difference in society! Filled with frolic and fellowship, Rotaract has been a platform for thousands to come up with innovative solutions for the world’s problems,while learning and growing professionally,together.</p>
            <!-- Rights-->
            <p class="rights"><span>©  </span><span class="copyright-year">2022</span><span> </span><span>Rotaract NITK Chapter</span><span> - </span><span>All Rights Reserved.</span></p>
          </div>
        </div>
        <div class="col-md-4">
          <h5>Contacts</h5>
          <dl class="contact-list">
            <dt>Address:</dt>
            <dd>NITK Surathkal, Karnataka</dd>
          </dl>
          <dl class="contact-list">
            <dt>Email:</dt>
            <dd><a href="mailto:#">sample@gmail.com</a></dd>
          </dl>
          <dl class="contact-list">
            <dt>Phones:</dt>
            <dd><a href="tel:#">+91 9876543210</a> <span>or</span> <a href="tel:#">+91 9686768711</a>
            </dd>
          </dl>
        </div>
        <div class="col-md-4 col-xl-3">
          <h5>Links</h5>
          <ul class="nav-list">
            <li ><a href="#">About Us</a></li>
            <!-- <li data-toggle="modal" data-target="#ServiceModalLong">Services</li>
            <div class="modal fade" id="ServiceModalLong" tabindex="-1" role="dialog" aria-labelledby="exampleModalLongTitle" aria-hidden="true">
              <div class="modal-dialog" role="document">
                <div class="modal-content">
                  <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLongTitle">Services</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                      <span aria-hidden="true">&times;</span>
                    </button>
                  </div>
                  <div class="modal-body" style="color: black;">
                    Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
                  </div>
                  <div class="modal-footer">
                    <button type="button" class="btn" style="background-color: #28a745; color: aliceblue;"data-dismiss="modal">Close</button>
                  </div>
                </div>
              </div>
            </div> -->
            <li data-toggle="modal" data-target="#PrivacyModalLong"><a>Privacy Policy</a></li>
            <div class="modal fade" id="PrivacyModalLong" tabindex="-1" role="dialog" aria-labelledby="exampleModalLongTitle" aria-hidden="true">
              <div class="modal-dialog" role="document">
                <div class="modal-content">
                  <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLongTitle">Privacy Policy</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                      <span aria-hidden="true">&times;</span>
                    </button>
                  </div>
                  <div class="modal-body" style="color: black;">
                    RotoDonate will not sell, trade, or share a RotoDonate Foundation donor's personal data, including their name, phone number, email, or physical address, with non-RotoDonate entities, nor will it send donors mailings on behalf of other unrelated organizations. This policy applies to all donor data received by RotoDonate, both online and offline, as well as any electronic, written, or oral communication. RotoDonate occasionally uses third-party vendors to manage and process donor data. These vendors are bound by strict confidentiality agreements.                  </div>
                  <div class="modal-footer">
                    <button type="button" class="btn" style="background-color: #28a745; color: aliceblue;"data-dismiss="modal">Close</button>
                  </div>
                </div>
              </div>
            </div>
            <li data-toggle="modal" data-target="#TermsModalLong"><a>Terms and Conditions</a></li>
            <div class="modal fade" id="TermsModalLong" tabindex="-1" role="dialog" aria-labelledby="exampleModalLongTitle" aria-hidden="true">
              <div class="modal-dialog" role="document">
                <div class="modal-content">
                  <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLongTitle">Terms and Conditions</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                      <span aria-hidden="true">&times;</span>
                    </button>
                  </div>
                  <div class="modal-body" style="color: black;">
                    <!-- <br><br> -->
                    <!-- <h>Terms and conditions</h> -->
                    These Terms will be applied fully and affect to your use of this Website. By using this Website, you agreed to accept all terms and conditions written in here. You must not use this Website if you disagree with any of these Website Standard Terms and Conditions.
                    <br><br>
                    Minors or people below 18 years old are not allowed to use this Website.
                    <br><br>
                    <b>Intellectual Property Rights</b>
                    <br><br>

                    Other than the content you own, under these Terms, Rotaract club NITK and/or its licensors own all the intellectual property rights and materials contained in this Website.
                    <br><br>
                    
                    You are granted limited license only for purposes of viewing the material contained on this Website.
                    <br><br>
                    
                    <b>Restrictions</b>
                    <br><br>

                    You are specifically restricted from all of the following:
                    <br><br>
                    
                    publishing any Website material in any other media;
                    selling, sublicensing and/or otherwise commercializing any Website material;
                    publicly performing and/or showing any Website material;
                    using this Website in any way that is or may be damaging to this Website;
                    using this Website in any way that impacts user access to this Website;
                    using this Website contrary to applicable laws and regulations, or in any way may cause harm to the Website, or to any person or business entity;
                    engaging in any data mining, data harvesting, data extracting or any other similar activity in relation to this Website;
                    using this website to engage in any advertising or marketing activities.
                    
                    <br><br>
                    
                    <b>No Warranties</b>
                    <br><br>

                    This Website is provided “as is,” with all faults, and Rotaract Club NITK express no representations or warranties, of any kind related to this Website or the materials contained on this Website. Also, nothing contained on this Website shall be interpreted as advising you.
                    <br><br>
                    
                    <b>Limitation Of Liability</b>
                    <br><br>

                    In no event shall Rotaract club NITK , nor any of its officers, directors and members, shall be held liable for anything arising out of or in any way connected with your use of this Website whether such liability is under contract. Rotaract Club NITK, including its officers, directors and members shall not be held liable for any indirect, consequential or special liability arising out of or in any way related to your use of this Website.
                    <br><br>
                    
                    <b>Indemnification</b>
                    <br><br>

                    You hereby indemnify to the fullest extent Rotaract club NITK  from and against any and/or all liabilities, costs, demands, causes of action, damages and expenses arising in any way related to your breach of any of the provisions of these Terms.
                    <br><br>
                    
                    <b>Severability</b>
                    <br><br>

                    If any provision of these Terms is found to be invalid under any applicable law, such provisions shall be deleted without affecting the remaining provisions herein.
                    
                    <br><br>
                    <b>Variation Of Terms</b>
                    <br><br>

                    Rotaract club NITK  is permitted to revise these Terms at any time as it sees fit, and by using this Website you are expected to review these Terms on a regular basis.
                    
                    <br><br>
                    <b>Assignment</b>
                    <br><br>

                    The Rotaract club NITK  is allowed to assign, transfer, and subcontract its rights and/or obligations under these Terms without any notification. However, you are not allowed to assign, transfer, or subcontract any of your rights and/or obligations under these Terms.
                    
                    
                    <br><br>
                    <b>Entire Agreement</b>
                    <br><br>
                    These Terms constitute the entire agreement between Rotaract club NITK  and you in relation to your use of this Website, and supersede all prior agreements and understandings.
                    
                    <br><br>
                    <b>Governing Law & Jurisdiction</b>
                    <br><br>
                    These Terms will be governed by and interpreted in accordance with the laws of the State of in, and you submit to the non-exclusive jurisdiction of the state and federal courts located in in for the resolution of any disputes.
                    
                    <br><br>
                    <b>Refund Policy</b>
                    <br><br>
                    Welcome to the web-site of Rotaract club NITK, We make public our policy on refund and cancellation of donations received for the social cause on payment gateway as under: No refund/cancellation for the donated amount by any donor will not be entertained, the online donations through the online payment gateway.
                    
                    Any request for cancellations and refund of online donations once duly placed on the website, shall not be entertained under any circumstances. No cash or refund of money will be allowed after completing the online donation. Because through this online credit card, debit card, net banking donation, we utilize for the specific purpose of social welfare activities. So there is no possibility to refund the amount after donating money to Rotaract club NITK  through online. Once received the online donation for a social cause will not be refunded to the donor. No cancellation to be made. The donation will be used for the charitable activities – community development, sponsorship of children, child education and women development, Relief and Rehabilitation, Natural Calamities etc.
                    
                    <br><br>
                    <b>Privacy policy</b> 
                    <br><br>
                    RotoDonate will not sell, trade, or share a RotoDonate Foundation donor's personal data, including their name, phone number, email, or physical address, with non-RotoDonate entities, nor will it send donors mailings on behalf of other unrelated organizations. This policy applies to all donor data received by RotoDonate, both online and offline, as well as any electronic, written, or oral communication. RotoDonate occasionally uses third-party vendors to manage and process donor data. These vendors are bound by strict confidentiality agreements.
                    
                    
                    
                    —
                    
                    <br><br>
                    <b>Security</b>
                    ​
                    <br><br>
                    We understand that your data is important and private, so we work hard to keep it secured. It is saved in password-protected databases and customer relationship management systems only available to authorized Rotaract NITK access to it for business use only.
                    
                    
                    ​
                    <br><br>
                    <b>Online payments</b>
                    <br><br>
                     
                    All of our online payments are processed through trusted and established third party payment gateways which manage their own privacy policies. They only provide us with the information you have authorised them to and we only use this information to issue receipts for your donations and, where relevant and you have requested them, updates from the projects you are supporting.
                    
                    
                    <br><br>
                    <b>ACCEPTABLE WEBSITE USE</b>
                    <br><br>
                     
                    <br><br>
                    <b>Security Rules</b>
                    <br><br>
                    Visitors are prohibited from violating or attempting to violate the security of the website, including, without limitation,
                     
                    Accessing data not intended for such user or logging into a server or account, which the user is not authorised to access,
                    Attempting to probe, scan or test the vulnerability of a system or network or to breach security or authentication measures without proper authorisation,
                    Attempting to interfere with service to any user, host or network, including, without limitation, via means of submitting a virus or "Trojan horse" to the Website, overloading, "flooding", "mail bombing" or "crashing", or
                    Sending unsolicited electronic mail, including promotions and/or advertising of products or services. Violations of system or network security may result in civil or criminal liability. 
                    The organisation and/or its associate entities will have the right to investigate occurrences that they suspect as involving such violations and will have the right to involve and cooperate with, law enforcement authorities in prosecuting users who are involved in such violations.
                    ​
                    <br><br>
                    
                    <b>General Rules</b>
                    <br><br>
                    Visitors may not use the Web Site in order to transmit, distribute, store or destroy material:
                     
                    That could constitute or encourage conduct that would be considered a criminal offence or violate any applicable law or regulation,
                    In a manner that will infringe the copyright, trademark, trade secret or other intellectual property rights of others or violate the privacy or publicity of other personal rights of others.
                  </div>
                  <div class="modal-footer">
                    <button type="button" class="btn" style="background-color: #28a745; color: aliceblue;"data-dismiss="modal">Close</button>
                  </div>
                </div>
              </div>
            </div>
            <li data-toggle="modal" data-target="#CancellationModalLong"><a>Cancellation Policy<a></li>
            <div class="modal fade" id="CancellationModalLong" tabindex="-1" role="dialog" aria-labelledby="exampleModalLongTitle" aria-hidden="true">
              <div class="modal-dialog" role="document">
                <div class="modal-content">
                  <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLongTitle">Cancellation Policy</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                      <span aria-hidden="true">&times;</span>
                    </button>
                  </div>
                  <div class="modal-body" style="color: black;">
                    As a charitable, non-profit organisation, Snehalaya is unable to refund donations after the donation is accepted.

                    ​
                    
                    No cash or refund of money will be allowed.
                    
                    Once received the donation for a cause will not be refunded to the donor. No cancellation will be made.                  </div>
                  <div class="modal-footer">
                    <button type="button" class="btn" style="background-color: #28a745; color: aliceblue;"data-dismiss="modal">Close</button>
                  </div>
                </div>
              </div>
            </div>
          </ul>
        </div>
      </div>
      <!-- <br> -->
    </div>
  </footer>

  <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.12.9/dist/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.0.0/dist/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>

    </html>
