<nav class="navbar sticky-top navbar-expand-sm border-bottom shadow-sm text-success bg-white ">
  <div class="container-fluid">
    <a class="navbar-brand text-success font-weight-bold display-2" href="http://localhost:3000/#"
      style="font-size: 26px; font-weight : 700; ; ;">RotoDonate</a>
    <button class="navbar-toggler js-fh5co-nav-toggle fh5co-nav-toggle" type="button" data-toggle="collapse"
      data-bs-target=".navbar-collapse" data-target="#ftco-nav" aria-controls="ftco-nav" aria-expanded="false"
      aria-label="Toggle navigation">
      <span class="oi oi-menu">Menu</span>
    </button>
    <div class="collapse navbar-collapse justify-content-end" id="ftco-nav">
      <div class="navbar-nav ">
        <a class="nav-link text-success" href="http://localhost:3000/#about-section">About Us</a>
        <a class="nav-link text-success" href="#page-1">Organisations</a>
        <a class="nav-link text-success" href="#page-2">Mission</a>
        <a class="nav-link text-success" href="#page-3">Register</a>
        <a class="nav-link text-success" href="#page-4">Support</a>
      </div>
    </div>
  </div>
</nav>
