div.a{

    height: 700px;
    width: auto;
    background-image:url(https://static.jobscentral.com.sg/images3/miscellaneous/bm/magazine/2020/regulars/socialwork-masthead.jpg); 
    background-repeat: no-repeat;
    margin-top: 20px;
    margin-left:100px;

}