
<!DOCTYPE html>
<html lang="en">
<head>
  <title>Organization Details</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="../../public/stylesheets/style.css">
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" rel="stylesheet">
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js"></script>
  <style>
  body {
      position: relative; 
  }
  </style>
</head>
<body data-bs-spy="scroll" data-bs-target=".navbar" data-bs-offset="50">



  <div class="logo-bar d-none d-md-block d-lg-block bg-light">
    <div class="container">
        <div class="row">
            <div class="col-lg-2">
                <div class="logo d-none d-lg-block">
                    <!-- Brand -->
                    <a class="navbar-brand js-scroll-trigger" href="index.html">
                      <br>
                        <h2 style="color: black;">Rotoract NITK Chapter</h2>
                    </a>
                </div>
            </div>
            </div>
        </div>
    </div>





  <div class="main-navigation" id="mainmenu-area">
    <div class="container">
        <nav class="navbar navbar-expand-sm navbar-dark" style="background-color: #21c87a; padding: 1rem 1rem; border-radius: 5px; font-weight: 700; letter-spacing: .5px; text-transform: uppercase;">

            <a class="navbar-brand d-lg-none d-block" href="">
                <h4>RotoDonations</h4>
            </a>
            <!-- Toggler -->
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarCollapse" aria-controls="navbarCollapse" aria-expanded="false" aria-label="Toggle navigation">
                <span class="fa fa-bars"></span>
            </button>

            <!-- Collapse -->
            <div class="collapse navbar-collapse" id="navbarCollapse">
                <!-- Links -->
                <ul class="navbar-nav ">
                  <li class="nav-item " >
                    <a href="home.html" class="nav-link js-scroll-trigger">
                      <div style="color: #fff;">Home</div>
                    </a>
                </li>
                    <li class="nav-item " >
                        <a href="about.html" class="nav-link js-scroll-trigger">
                          <div style="color: #fff;">About</div>
                        </a>
                    </li>
                    <li class="nav-item ">
                        <a href="service.html" class="nav-link js-scroll-trigger">
                          <div style="color: #fff;">Services</div>
                        </a>
                    </li>
                    <li class="nav-item ">
                        <a href="pricing.html" class="nav-link js-scroll-trigger">
                          <div style="color: #fff;">Pricing</div>
                        </a>
                    </li>

                    <li class="nav-item ">
                        <a href="project.html" class="nav-link js-scroll-trigger">
                          <div style="color: #fff;">Projects</div>
                        </a>
                    </li>

                    <li class="nav-item ">
                        <a href="contact.html" class="nav-link">
                          <div style="color: #fff;">Contact</div>
                        </a>
                    </li>
                </ul>

              
            </div> <!-- / .navbar-collapse -->
        </nav>
    </div> <!-- / .container -->
</div>








<section class="banner-area py-7">
  <!-- Content -->
  <div class="container">
      <div class="row  align-items-center">
          <div class="col-sm-8">
            <br>
            <br>
              <div class="main-banner">
                  <!-- Heading -->
                  <h1 class="display-4 mb-4 font-weight-normal">
                      Organization Name
                  </h1>

                  <!-- Subheading -->
                  <p class="lead mb-4">
                    Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.                  </p>

                    <p class="lead mb-4">
                      Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.                  </p>
                  <br>
                      <!-- Button -->
                  <p class="mb-0">
                      <a href="#" target="_blank" class="btn btn-primary btn-circled" style="background: #21c87a!important; border-color: #21c87a!important;color: #fff; font-size: .6875rem; font-weight: 700;     position: relative; text-transform: uppercase; padding: 1.2rem 2.7rem;     border: 0.1rem solid transparent;     transition: all 0.2s ease-in-out; letter-spacing: .5px;     border-radius: 75px;">
                          View Organization website
                      </a>
                  </p>
              </div>
          </div>

          <div class="col-sm-4">

            <br>
            <br>
            <section style="background: #F4F7FC;     padding-right: 15px; padding-left: 15px;">
              <div class="row">
                <div>
                  <br>
                  <br>
                <p class="lead mb-4"><b>6000</b> raised of <b>10000</b></p>
                <div class="progress">
                    <div class="progress-bar" style="width: 60%; background-color: #21c87a ;"></div>
                </div>
                <br>
                <div class="lead mb-4" >300 donations<p class="lead mb-4" style="float: right;">4000 to go</p></div> 
              
                <p class="mb-0">
                  <a href="#" target="_blank" class="btn btn-primary btn-circled mx-auto d-block" style="background: #21c87a!important; border-color: #21c87a!important;color: #fff; font-size: .6875rem; font-weight: 700;     position: relative; text-transform: uppercase; padding: 1.2rem 2.7rem;     border: 0.1rem solid transparent;     transition: all 0.2s ease-in-out; letter-spacing: .5px;     border-radius: 75px;">
                      Donate Now
                  </a>
              </p> 
              <br>
              <br>
            
            </section>
            



            </div>
            </div>
          <div>
            <br>

            <div id="demo" class="carousel slide" data-bs-ride="carousel" style="width: 100%;">

              <h1 class="display-6 mb-4 font-weight-normal">
                Gallery
            </h1>
        
              <!-- Indicators/dots -->
              <div class="carousel-indicators">
                <button type="button" data-bs-target="#demo" data-bs-slide-to="0" class="active"></button>
                <button type="button" data-bs-target="#demo" data-bs-slide-to="1"></button>
                <button type="button" data-bs-target="#demo" data-bs-slide-to="2"></button>
                <button type="button" data-bs-target="#demo" data-bs-slide-to="3"></button>
              </div>
              
              <!-- The slideshow/carousel -->
              <div class="carousel-inner">
                <div class="carousel-item active">
                  <img class="mx-auto d-block" src="https://images.pexels.com/photos/753626/pexels-photo-753626.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=650&w=940" alt="image" style="max-width: 100%; border-radius: 10px;">
                </div>
                <div class="carousel-item">
                  <img class="mx-auto d-block" src="https://images.pexels.com/photos/753626/pexels-photo-753626.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=650&w=940" alt="image" style="max-width: 100%; border-radius: 10px;">
                </div>
                <div class="carousel-item">
                  <img class="mx-auto d-block" src="https://images.pexels.com/photos/753626/pexels-photo-753626.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=650&w=940" alt="image" style="max-width: 100%; border-radius: 10px;">
                </div>
                <div class="carousel-item">
                  <img class="mx-auto d-block" src="https://images.pexels.com/photos/753626/pexels-photo-753626.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=650&w=940" alt="image" style="max-width: 100%; border-radius: 10px;">
                </div>
              </div>
              
              <!-- Left and right controls/icons -->
              <button class="carousel-control-prev" type="button" data-bs-target="#demo" data-bs-slide="prev">
                <span class="carousel-control-prev-icon"></span>
              </button>
              <button class="carousel-control-next" type="button" data-bs-target="#demo" data-bs-slide="next">
                <span class="carousel-control-next-icon"></span>
              </button>
            </div>
              
          </div>
      </div> <!-- / .row -->
  </div> <!-- / .container -->
</section>
<br>
<br>
<br>



</body>
</html>

