<section class="sesction-donation-info">
    <div class="container">
        <div class="donation-filter-buttons d-none d-sm-flex fw-bold p-0 fs-3 m-0 w-100 text-center">
            <a href="" class="top-donation-button btn-donation-info donation-info-active col-6 text-dark">Top
                Donations</a>
            <a href="" class="recent-donation-button btn-donation-info col-6 text-dark">Recent
                Donations</a>
        </div>
        <select class="donation-filter-select d-sm-none form-select p-1 fs-3 fw-bold" aria-label="donation info filter">
            <option><a href=""
                    class="top-donation-button btn-donation-info donation-info-active col-12 col-md-6 text-dark">Top
                    Donations</a></option>
            <option><a href="" class="recent-donation-button btn-donation-info col-12 col-md-6 text-dark">Recent
                    Donations</a></option>
        </select>

        <div class="donation-info">
            <table class="table top-donation-info w-100">
                <thead>
                    <tr style="color: #28a745;">
                        <th scope="col">Donor Name</th>
                        <th scope="col">Beneficiary</th>
                        <th scope="col">Amount(₹)</th>
                    </tr>
                </thead>
                <tr>
                    <td>Venkat Kumar</td>
                    <td>The Smile Foundation</td>
                    <td>21000</td>
                </tr>
                <tr>
                    <td>Shalini Chandrashekhar</td>
                    <td>Helpage India</td>
                    <td>11000</td>
                </tr>
            </table>
            <table class="table recent-donation-info visually-hidden">
                <thead>
                    <tr style="color: #28a745;">
                        <th scope="col">Donor Name</th>
                        <th scope="col">Beneficiary</th>
                        <th scope="col">Amount(₹)</th>
                    </tr>
                </thead>
                <tr>
                    <td>Aditya Agrawal</td>
                    <td>Pratham</td>
                    <td>5100</td>
                </tr>
                <tr>
                    <td>Deepan KS</td>
                    <td>Nanhi Kali</td>
                    <td>10000</td>
                </tr>
            </table>
        </div>
    </div>
</section>